:root{
    --base: #39ff14;
    --spacing: 10px;
    --blur: 25px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter:  blur(var(--blur));
    width: 80%;
    height: auto;
}

.hl {
    color: var(--base);
}


/*
    misc styles, nothing to do with CSS variables
*/

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}

.back  {
    width: 150px;
    height: auto;
    position: absolute;
    padding: 0;
    
    
}

body > a {
    position: fixed;
    bottom: 1;
    right: 1;
    
}