.main {
    margin: 1em;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
}

img{
    max-width: 200px;
    max-height: 100px;
    height: auto;
}

.headText{
    font-variant: small-caps;
    font-size: 1rem;
}

.collapsed {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.information {
    padding: 0 18px;
    display: none;
    background-color: #f1f1f1;
}

.active:after {
    content: "\2212";
}

.collapsible {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    
}

.active, .collapsible:hover {
    background-color: rgb(172, 168, 168);
    
}

.active:after {
    content: "\2212";
}
  
.content {
    padding: 0 18px;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

.title {
    font-size: x-large;
    text-align: center;   

}

/*the select button under each class and race*/
.select {
    background-color: rgb(0, 185, 0);
    color: white;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

/*Orange fading line break*/
hr.line {
    margin-right: 80px;
    height: 1px;
    border: none;
    background-image: linear-gradient(to right, rgba(238,134,0,1), rgba(238, 135, 0, 0.281));
}


.playstyle-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    
}
.playstyle-item0{
    grid-column: 1/4;
    text-align: center;
    background-color: lightblue;
}

.playstyle-item1{
    grid-column: 1/2;
}

.playstyle-item2{
    grid-column: 2/3;
}

.playstyle-item3{
    grid-column: 3/4;
}


.race-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.race-item0{
    grid-column: 1/4;
    text-align: center;
    background-color: lightblue;
}

.race-item1{
    grid-column: 1/2;
}

.race-item2{
    grid-column: 2/3;
}

.race-item3{
    grid-column: 3/4;
}

.race-item4{
    grid-column: 1/2;
}

.race-item5{
    grid-column: 2/3;
}

.race-item6{
    grid-column: 3/4;
}

.race-item7{
    grid-column: 1/2;
}

.race-item8{
    grid-column: 2/3;
}

.race-item9{
    grid-column: 3/4;
}


.class-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.class-item0{
    grid-column: 1/4;
    text-align: center;
    background-color: lightblue;
}

.class-item1{
    grid-column: 1/2;
}

.class-item2{
    grid-column: 2/3;
}

.class-item3{
    grid-column: 3/4;
}

.class-item4{
    grid-column: 1/2;
}

.class-item5{
    grid-column: 2/3;
}

.class-item6{
    grid-column: 3/4;
}

.class-item7{
    grid-column: 1/2;
}

.class-item8{
    grid-column: 2/3;
}

.class-item9{
    grid-column: 3/4;
}

.class-item10{
    grid-column: ;
}

.class-item11{
    grid-column: ;
<<<<<<< HEAD
}
=======
}
>>>>>>> 9286f51ca8e96ecb160bef2324f18dd20fa2ca58
