.main {
    margin: 1em;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
}

img{
    max-width: 200px;
    max-height: 100px;
    height: auto;
}

.headText{
    font-variant: small-caps;
    font-size: 1rem;
}

.collapsed {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.information {
    padding: 0 18px;
    display: none;
    background-color: #f1f1f1;
}

.active:after {
    content: "\2212";
}

.collapsible {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    
}

.active, .collapsible:hover {
    background-color: rgb(172, 168, 168);
    
}

.active:after {
    content: "\2212";
}
  
.content {
    padding: 0 18px;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

.title {
    font-size: x-large;
    text-align: center;   

}

/*the select button under each class and race*/
.select {
    background-color: rgb(0, 185, 0);
    color: white;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

/*Orange fading line break*/
hr.line {
    margin-right: 80px;
    height: 1px;
    border: none;
    background-image: linear-gradient(to right, rgba(238,134,0,1), rgba(238, 135, 0, 0.281));
}

/*----------PLAYSTYLE STYLE---------------*/
.playstyle-container{
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    
}
.playstyle-item0{
    grid-column: 1/8;
    text-align: center;
    background-color: lightblue;
}

.playstyle-item1{
    grid-column: 1/3;
}

.playstyle-item2{
    grid-column: 3/5;
}

.playstyle-item3{
    grid-column: 5/8;
}

/*----------RACE STYLE---------------*/
.race-container{
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.race-item0{
    grid-column: 1/8;
    text-align: center;
    background-color: lightblue;
}

.race-item1, .race-item4, .race-item7{
    grid-column: 1/3;
}

.race-item2, .race-item5, .race-item8{
    grid-column: 3/5;
}

.race-item3, .race-item6, .race-item9{
    grid-column: 5/8;
}

/*----------CLASS STYLE---------------*/
.class-container{
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.class-item0{
    grid-column: 1/8;
    text-align: center;
    background-color: lightblue;
}

.class-item1, .class-item4, .class-item7, .class-item10{
    grid-column: 1/3;
}

.class-item2, .class-item5, .class-item8, .class-item11{
    grid-column: 3/5;
}

.class-item3, .class-item6, .class-item9{
    grid-column: 5/8;
}

@media (max-width: 700px) {

    .playstyle-container{
        grid-template-columns: 50% 50%;
    }
    .playstyle-item1, .playstyle-item3 {
        grid-column: 1/2;
        
    }
    .playstyle-item2 {
        grid-column: 2/3;
        
    }

    .race-container{
        grid-template-columns: 50% 50%;
    }
    .race-item1, .race-item3, .race-item5, .race-item7, .race-item9 {
        grid-column: 1/2;
        
    }
    .race-item2, .race-item4, .race-item6, .race-item8{
        grid-column: 2/3;
        
    }

    .class-container{
        grid-template-columns: 50% 50%;
    }
    .class-item1, .class-item3, .class-item5, .class-item7, .class-item9, .class-item11 {
        grid-column: 1/2;
        
    }
    .class-item2, .class-item4, .class-item6, .class-item8, .class-item10{
        grid-column: 2/3;
        
    }
  }