/* COLOR SCHEME
Blue: rgb(37, 107, 151)
Green: rgb(80, 200, 120)
Yellow: rgb(240, 183, 60)
Dark Blue: rgb(7, 21, 46)
*/

* {
    box-sizing: border-box;
}

body {
   background-color: rgb(194, 197, 197)
}

#main_img {
   width: 100%;
   height: auto;
}

.row::after {
 content: "";
 clear: both;
 display: table;
}

[class*="col-"] {
 float: left;
 padding: 15px;
}

html {
 font-family: "Lucida Sans", sans-serif;
}

.header {
 background-color: rgb(37, 107, 151);
 color: #ffffff;
 padding: 15px;
 margin-bottom: 15px;
}

.menu ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.menu li {
    padding: 8px;
    text-align: center;
    margin-bottom: 7px;
    background-color: rgb(80, 200, 120);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: rgb(240, 183, 60);
  }

.menu a:hover {
 background-color: rgb(240, 183, 60);
}

.footer {
   background-color:rgb(37, 107, 151);
   color: white;
   text-align: center;
   font-size: 12px;
   padding: 15px;
   border-width: 2px;
 }

.topLeft {
   width: 12em;
   float: left;
   padding-right: 15px;
   padding-bottom: 10px;
}

p .code {
    background-color: #eee;
    border: 1px solid;
    border-color: rgb(80, 200, 120);
    display: block;
    padding: 20px;
  }

#homeLink {
   color: white;
   text-decoration: underline white;
}

.footer a:hover {
   color: rgba(0, 132, 255, 0.603);
}

.clearfix::after {
   clear: both;
}

.center {
   text-align: center;
}



/* ------------ container ------------ */
.container{
   padding:10px;
   width:380px;
   margin:0 auto;
}

/* ------------ header ------------ */
.header{
   width: 380px;
   height:200px;
   background-image: url('../img/bg2.jpg');
   background-size: 100% 200%;
   background-repeat: no-repeat;
   border-radius: 15px 15px 0 0;
   position: relative;
}
.clear{
   width : 30px;
   height: 30px;
   position: absolute;
   right:20px;
   top: 20px;
}
.clear i{
   font-size: 30px;
   color: #FFF;
}
.clear i:hover{
   cursor: pointer;
   transform: rotate(45deg);
}


/* ------------ content ------------ */
.content{
   width:380px;
   height: 350px;
   max-height:350px;
   background-color: #FFF;
   overflow: auto;
}
.content::-webkit-scrollbar { 
   display: none; 
}
.content ul{
   padding:0;
   margin:0;
}
.item{
   width:380px;
   height: 45px;
   min-height: 45px;
   position: relative;
   border-bottom: 1px solid rgba(0,0,0,0.1);
   list-style: none;
   padding: 0;
   margin: 0;
}
.item i.co{
   position: absolute;
   font-size: 25px;
   padding-left:5px;
   left:15px;
   top:10px;
}
.item i.co:hover{
   cursor: pointer;
}
.fa-check-circle{
   color:#6eb200;
}
.item p.text{
   position: absolute;
   padding:0;
   margin:0;
   font-size: 20px;
   left:50px;
   top:5px;
   background-color: #FFF;
   max-width:285px;
}
.lineThrough{
   text-decoration: line-through;
   color : #ccc;
}
.item i.de{
   position: absolute;
   font-size: 25px;
   right:15px;
   top:10px;
}
.item i.de:hover{
   color:#af0000;
   cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
   position: relative;
   width: 360px;
   height:40px;
   background-color: #FFF;
   padding: 10px;
   border-top: 1px solid rgba(0,0,0,0.1);
}
.add-to-do i{
   position: absolute;
   font-size: 40px;
   color: #4162f6;
}

.add-to-do input{
   position: absolute;
   left: 50px;
   height: 35px;
   width: 310px;
   background-color: transparent;
   border: none;
   font-size: 20px;
   padding-left:10px;
}

/* screen parameters */
/* For mobile phones: */
[class*="col-"] {
   width: 100%;
 }
 
 @media only screen and (min-width: 600px) {
   /* For tablets: */
   .col-s-1 {width: 8.33%;}
   .col-s-2 {width: 16.66%;}
   .col-s-3 {width: 25%;}
   .col-s-4 {width: 33.33%;}
   .col-s-5 {width: 41.66%;}
   .col-s-6 {width: 50%;}
   .col-s-7 {width: 58.33%;}
   .col-s-8 {width: 66.66%;}
   .col-s-9 {width: 75%;}
   .col-s-10 {width: 83.33%;}
   .col-s-11 {width: 91.66%;}
   .col-s-12 {width: 100%;}
 }
 @media only screen and (min-width: 768px) {
   /* For desktop: */
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
   .col-10 {width: 83.33%;}
   .col-11 {width: 91.66%;}
   .col-12 {width: 100%;}
 }